@value makerPurple, makerLightPink, makerLightGrey, makerOrange, makerWhite, makerGreen from '../../../../../src/common/css/colors.module.css';
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: none;
}

.button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
}

.button.defaultImage {
  background-color: makerLightGrey;
}

.button.usingImage {
  background-color: makerPurple;
}

.button:hover {
    opacity: 0.8;
  }

.loadingSpinner {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 0.3em solid makerLightGrey;
  border-top: 0.3em solid makerPurple;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}