@value makerLightPink from '../../../src/common/css/colors.module.css';
@value mediaQueryDeskTops from '../../../src/common/css/size.module.css';

.editor {
    flex-basis: 50%;
    background-color: makerLightPink;
    text-align: center;
    border-right-color: black;
    border-right-style: dotted;
    border-right-width:0.1em ;
}

.editorItem {
    height: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.editorForm {
    height: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: mediaQueryDeskTops) {
    .editor {
        border-right-style: none;
        border-bottom-color: black;
        border-bottom-style: dotted;
        border-bottom-width:0.1em ;
    }
    
}