@value makerLightGrey from '../../../src/common/css/colors.module.css';

.preview {
    list-style: none;
    flex-basis: 50%;
    margin: 0;
    background-color: makerLightGrey;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}