@value makerLightGrey, makerGreen from '../../../src/common/css/colors.module.css';

.preview {
    flex-basis: 50%;
    margin: 0;
    background-color: makerLightGrey;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    color: makerGreen;
}

.previewList {
    width: 100%;
    height: 100%;
    padding: 0.5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}