@value makerGrey, makerColorful, makerWheat, makerBlack from '../../../../src/common/css/colors.module.css';

.previewItem {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin-bottom: 1em;
    border-radius: 2em;
    text-align: center;
}

.previewItem.dark {
    background-color: makerGrey;
}
.previewItem.light {
    background-color: makerWheat;
}
.previewItem.colorful {
    background: makerColorful;
}

.image {
    width: 3em
}
