@value makerLightPink, makerGreen, makerWhite, makerBlack from '../../../src/common/css/colors.module.css';

.wholeSection {
    width: 30em;
    height: 20em;
}

.loginSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: makerWhite;
}

.title {
    margin-bottom: 0;
    font-size: 1.5em;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.5rem;
}

.item {
    margin-bottom: 0.5em;
}

.button {
    width: 100%;
    height: 2.5em;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    border: 0.2rem solid makerGreen;
    outline: 0;
}

.button:hover {
    background-color: makerLightPink;
  }